@{
    ViewBag.Title = "ConfirmReg";
    Layout=null;
}
<Html>
<head>
</head>
<body>
<h2>Спасибо за регистрацию!</h2>

<p>Для ипользования аккаунта его нужно активировать! Вам выслано письмо на почту.</p>

</body>
</Html>
