@model HelloWorldMvc3.Models.HelloWorldPhrase

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>HelloWorldPhrase</legend>

    <div class="display-label">Phrase1</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phrase1)
    </div>

    <div class="display-label">Phrase2</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phrase2)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
