@model IEnumerable<VacancyManager.Models.Vacancy>

<li>@Html.ActionLink("Список вакансий", "Index", "Vakancy")</li>

@*@{
    ViewBag.Title = "Список вакансий";
}

<h2>Список вакансий</h2>

@foreach (var vacancy in Model)
{
    @vacancy.Title
}*@