@{
  ViewBag.Title = "Admin";
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title id="page-title">Admin</title>
</head>
<body>
</body>
</html>
