@{
  ViewBag.Title = "Technology Stack";
    Layout = null;
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title id="page-title">Technology Stack</title>
    <link rel="stylesheet" type="text/css" href="/ExtLib/resources/css/ext-all.css">
    <script type="text/javascript" src="/ExtLib/ext-all.js"></script>
    <script type="text/javascript">
      Ext.Loader.setConfig({
        enabled: true
      });
    </script>
    <script type="text/javascript" src="/Scripts/TechStack/app.js"></script>
    <style type="text/css" media="screen">
        .TechStack-list {
            padding: 0 3px 0 3px;
        }
        .TechStack-list-item {
            margin-top: 3px;
            padding-left: 20px;
            font-size: 11px;
            line-height: 20px;
            cursor: pointer;
            border: 1px solid #fff;
        }
        .TechStack-list .x-item-selected {
            font-weight: bold;
            color: #15428B;
            background-color: #DFE8F6;
            border: 1px dotted #A3BAE9;
        }
        .TechStack-list-item-hover {
            background-color: #eee;
        }
    </style>
</head>
<body>
</body>
</html>
