@model VMProject.Models.Vacancy


<div class="opening-date">
    @Model.OpeningDate
</div>
<div class="title">
    @Model.Title
</div>
<div class="description">
    @Model.Description
</div>
