@model IEnumerable<VMProject.Models.Vacancy>

@{
    ViewBag.Title = "Вакансии";
}

<h2>Вакансии</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>

@foreach (var item in Model)
{
    <div class="vacancy">
        @Html.Partial("VacancyInformation", item)

        <p>
            @Html.ActionLink("Подать резюме", "Send", "Resume", new { id = item.VacancyID }, null)
        </p>
    </div>

}
